{% extends 'layout.html' %}

{% block title %}Home page{% endblock %}

{% block content %}
<div class="container-fluid">

	<form method="POST">
		<div class="form-group">
			<label forid="subject">Subject</label>
			<input id="subject" name="subject" type="text" class="form-control" required>
		</div>
		<div class="form-group">
			<label forid="message">Message</label>
			<textarea id="message" class="form-control" required>
			</textarea>
		</div>
		<div class="form-group">
			<label forid="recipients">To</label>
			<input id="recipients" class="form-control" type="text" name="recipients" required>
		</div>
		<div class="form-group">
			<label forid="when">When</label>
			<input id="when" class="form-control" type="date" required>
		</div>
		<div class="form-group">
			<button type="submit" class="btn">Save</button>
		</div>
	</form>

</div>
{% endblock %}
